In [51]:
# 시도명 매핑 딕셔너리
sido_map = {
    '서울': '서울특별시', '부산': '부산광역시', '대구': '대구광역시',
    '광주': '광주광역시', '울산': '울산광역시', '인천': '인천광역시',
    '대전': '대전광역시',
    
    # 도 단위 및 기타 지역 매핑
    '북춘천': '강원도', '북강릉': '강원도', '울릉도': '경상북도',
    '안동': '경상북도', '포항': '경상북도', '창원': '경상남도',
    '수원': '경기도', '청주': '충청북도', '전주': '전라북도',
    '목포': '전라남도', '여수': '전라남도', '흑산도': '전라남도',
    '홍성': '충청남도', '백령도': '인천광역시', '서귀포': '제주도',
    '제주': '제주도',
    
    # 기타 추가
    '속초': '강원도', '철원': '강원도', '동두천': '경기도', '파주': '경기도',
    '대관령': '강원도', '춘천': '강원도', '강릉': '강원도', '동해': '강원도',
    '원주': '강원도', '영월': '강원도', '충주': '충청북도', '서산': '충청남도',
    '울진': '경상북도', '추풍령': '경상북도', '상주': '경상북도',
    '군산': '전라북도', '통영': '경상남도', '완도': '전라남도', '고창': '전라북도',
    '순천': '전라남도', '진도(첨찰산)': '전라남도', '서청주': '충청북도',
    '고산': '제주도', '성산': '제주도', '진주': '경상남도',
    '강화': '인천광역시', '양평': '경기도', '이천': '경기도',
    '인제': '강원도', '홍천': '강원도', '태백': '강원도', '정선군': '강원도',
    '제천': '충청북도', '보은': '충청북도', '천안': '충청남도',
    '보령': '충청남도', '부여': '충청남도', '금산': '충청남도',
    '세종': '세종특별자치시', '부안': '전라북도', '임실': '전라북도',
    '정읍': '전라북도', '남원': '전라북도', '장수': '전라북도',
    '고창군': '전라북도', '영광군': '전라남도', '김해시': '경상남도',
    '순창군': '전라북도', '북창원': '경상남도', '양산시': '경상남도',
    '보성군': '전라남도', '강진군': '전라남도', '장흥': '전라남도',
    '해남': '전라남도', '고흥': '전라남도', '의령군': '경상남도',
    '함양군': '경상남도', '광양시': '전라남도', '진도군': '전라남도',
    '봉화': '경상북도', '영주': '경상북도', '문경': '경상북도',
    '청송군': '경상북도', '영덕': '경상북도', '의성': '경상북도',
    '구미': '경상북도', '영천': '경상북도', '경주시': '경상북도',
    '거창': '경상남도', '합천': '경상남도', '밀양': '경상남도',
    '산청': '경상남도', '거제': '경상남도', '남해': '경상남도',
    '북부산': '부산광역시'
}

In [52]:
import pandas as pd

# 로드
df_daylight = pd.read_csv("./data/월별_기온_강수량_일조시간_15~24.csv", encoding="cp949")
df_daylight

,지점,지점명,일시,평균기온(°C),평균최고기온(°C),월합강수량(00~24h만)(mm),합계 일조시간(hr),합계 일사량(MJ/m2)
0,90,속초,2015-01,1.8,5.6,8.7,185.6,NaN
1,90,속초,2015-02,2.4,6.1,32.1,189.3,NaN
2,90,속초,2015-03,6.6,11.5,8.0,275.9,NaN
3,90,속초,2015-04,11.1,15.1,74.2,185.4,NaN
4,90,속초,2015-05,17.8,22.9,9.2,298.6,NaN
...,...,...,...,...,...,...,...,...
11418,296,북부산,2024-08,29.3,34.3,73.5,239.6,639.90
11419,296,북부산,2024-09,26.5,31.4,418.5,169.8,469.75
11420,296,북부산,2024-10,19.1,24.0,185.0,131.1,347.38
11421,296,북부산,2024-11,12.2,18.1,82.0,169.4,304.38
11422,296,북부산,2024-12,4.1,10.5,0.0,224.9,329.29

In [53]:
nan_stations = df_daylight_hour[df_daylight_hour['합계 일사량(MJ/m2)'].isna()]['지점명'].unique()
nan_stations

array(['속초', '철원', '동두천', '파주', '백령도', '동해', '울릉도', '영월', '충주', '울진',
       '상주', '군산', '울산', '창원', '부산', '통영', '여수', '완도', '순천', '진도(첨찰산)',
       '성산', '서귀포', '강화', '양평', '이천', '인제', '홍천', '태백', '정선군', '제천', '보은',
       '천안', '보령', '부여', '금산', '세종', '부안', '임실', '정읍', '남원', '장수', '장흥',
       '해남', '고흥', '진도군', '봉화', '영주', '문경', '영덕', '의성', '구미', '영천', '경주시',
       '거창', '합천', '밀양', '산청', '거제', '남해'], dtype=object)

In [54]:
df_daylight = df_daylight[~df_daylight['지점명'].isin(nan_stations)].copy()
df_daylight

,지점,지점명,일시,평균기온(°C),평균최고기온(°C),월합강수량(00~24h만)(mm),합계 일조시간(hr),합계 일사량(MJ/m2)
120,93,북춘천,2016-10,14.1,20.9,112.1,185.3,381.67
121,93,북춘천,2016-11,5.1,11.2,13.2,147.4,259.88
122,93,북춘천,2016-12,-0.2,5.3,83.1,142.3,204.42
123,93,북춘천,2017-01,-3.4,3.3,15.9,204.2,286.30
124,93,북춘천,2017-02,-1.5,5.4,11.0,214.9,356.79
...,...,...,...,...,...,...,...,...
11418,296,북부산,2024-08,29.3,34.3,73.5,239.6,639.90
11419,296,북부산,2024-09,26.5,31.4,418.5,169.8,469.75
11420,296,북부산,2024-10,19.1,24.0,185.0,131.1,347.38
11421,296,북부산,2024-11,12.2,18.1,82.0,169.4,304.38
11422,296,북부산,2024-12,4.1,10.5,0.0,224.9,329.29

In [55]:
df_daylight['시도명'] = df_daylight['지점명'].map(sido_map)
df_daylight['일시'] = pd.to_datetime(df_daylight['일시'], format="%Y-%m")
df_daylight['연도'] = df_daylight['일시'].dt.year
df_daylight = df_daylight[df_daylight['연도'] >= 2018].copy()
df_daylight

,지점,지점명,일시,평균기온(°C),평균최고기온(°C),월합강수량(00~24h만)(mm),합계 일조시간(hr),합계 일사량(MJ/m2),시도명,연도
135,93,북춘천,2018-01-01,-6.0,0.6,6.5,203.0,297.61,강원도,2018
136,93,북춘천,2018-02-01,-3.4,3.6,33.0,214.2,345.45,강원도,2018
137,93,북춘천,2018-03-01,7.0,13.8,32.0,204.3,434.45,강원도,2018
138,93,북춘천,2018-04-01,12.0,19.5,117.2,218.7,505.89,강원도,2018
139,93,북춘천,2018-05-01,17.2,23.9,200.5,233.2,577.58,강원도,2018
...,...,...,...,...,...,...,...,...,...,...
11418,296,북부산,2024-08-01,29.3,34.3,73.5,239.6,639.90,부산광역시,2024
11419,296,북부산,2024-09-01,26.5,31.4,418.5,169.8,469.75,부산광역시,2024
11420,296,북부산,2024-10-01,19.1,24.0,185.0,131.1,347.38,부산광역시,2024
11421,296,북부산,2024-11-01,12.2,18.1,82.0,169.4,304.38,부산광역시,2024
11422,296,북부산,2024-12-01,4.1,10.5,0.0,224.9,329.29,부산광역시,2024

In [ ]:
df_grouped = df_daylight.groupby(['연도', '시도명'])['합계 일사량(MJ/m2)'].sum().reset_index().sort_values(by=['연도', '시도명'])
df_grouped['시도명'].unique()
# drop na 후 세종, 울산광역시 없음

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '서울특별시',
       '인천광역시', '전라남도', '전라북도', '제주도', '충청남도', '충청북도', '부산광역시'],
      dtype=object)

In [36]:
df_daylight

,지점,지점명,일시,평균기온(°C),평균최고기온(°C),월합강수량(00~24h만)(mm),합계 일조시간(hr),합계 일사량(MJ/m2)
91,90,속초,2022-08,24.6,28.4,323.7,151.1,0.00
111,90,속초,2024-04,13.9,18.4,63.4,195.2,211.45
112,90,속초,2024-05,17.8,22.7,63.4,253.2,646.80
113,90,속초,2024-06,22.3,26.1,133.8,279.7,687.49
114,90,속초,2024-07,26.8,30.3,109.3,150.5,498.29
...,...,...,...,...,...,...,...,...
11418,296,북부산,2024-08,29.3,34.3,73.5,239.6,639.90
11419,296,북부산,2024-09,26.5,31.4,418.5,169.8,469.75
11420,296,북부산,2024-10,19.1,24.0,185.0,131.1,347.38
11421,296,북부산,2024-11,12.2,18.1,82.0,169.4,304.38
11422,296,북부산,2024-12,4.1,10.5,0.0,224.9,329.29