In [28]:
# 시도명 매핑 딕셔너리
sido_map = {
    '서울': '서울특별시', '부산': '부산광역시', '대구': '대구광역시',
    '광주': '광주광역시', '울산': '울산광역시', '인천': '인천광역시',
    '대전': '대전광역시',
    
    # 도 단위 및 기타 지역 매핑
    '북춘천': '강원도', '북강릉': '강원도', '울릉도': '경상북도',
    '안동': '경상북도', '포항': '경상북도', '창원': '경상남도',
    '수원': '경기도', '청주': '충청북도', '전주': '전라북도',
    '목포': '전라남도', '여수': '전라남도', '흑산도': '전라남도',
    '홍성': '충청남도', '백령도': '인천광역시', '서귀포': '제주도',
    '제주': '제주도',
    
    # 기타 추가
    '속초': '강원도', '철원': '강원도', '동두천': '경기도', '파주': '경기도',
    '대관령': '강원도', '춘천': '강원도', '강릉': '강원도', '동해': '강원도',
    '원주': '강원도', '영월': '강원도', '충주': '충청북도', '서산': '충청남도',
    '울진': '경상북도', '추풍령': '경상북도', '상주': '경상북도',
    '군산': '전라북도', '통영': '경상남도', '완도': '전라남도', '고창': '전라북도',
    '순천': '전라남도', '진도(첨찰산)': '전라남도', '서청주': '충청북도',
    '고산': '제주도', '성산': '제주도', '진주': '경상남도',
    '강화': '인천광역시', '양평': '경기도', '이천': '경기도',
    '인제': '강원도', '홍천': '강원도', '태백': '강원도', '정선군': '강원도',
    '제천': '충청북도', '보은': '충청북도', '천안': '충청남도',
    '보령': '충청남도', '부여': '충청남도', '금산': '충청남도',
    '세종': '세종특별자치시', '부안': '전라북도', '임실': '전라북도',
    '정읍': '전라북도', '남원': '전라북도', '장수': '전라북도',
    '고창군': '전라북도', '영광군': '전라남도', '김해시': '경상남도',
    '순창군': '전라북도', '북창원': '경상남도', '양산시': '경상남도',
    '보성군': '전라남도', '강진군': '전라남도', '장흥': '전라남도',
    '해남': '전라남도', '고흥': '전라남도', '의령군': '경상남도',
    '함양군': '경상남도', '광양시': '전라남도', '진도군': '전라남도',
    '봉화': '경상북도', '영주': '경상북도', '문경': '경상북도',
    '청송군': '경상북도', '영덕': '경상북도', '의성': '경상북도',
    '구미': '경상북도', '영천': '경상북도', '경주시': '경상북도',
    '거창': '경상남도', '합천': '경상남도', '밀양': '경상남도',
    '산청': '경상남도', '거제': '경상남도', '남해': '경상남도',
    '북부산': '부산광역시'
}

In [29]:
import pandas as pd

# 로드
df_daylight_hour = pd.read_csv("월별_기온_강수량_일조시간_15~24.csv")

# 시도명 매핑 적용
df_daylight_hour['시도명'] = df_daylight_hour['지점명'].map(sido_map)

# 날짜 필터링 (생육기) - 3월 15일 ~ 9월 10일로 잡음
df_daylight_hour['일시'] = pd.to_datetime(df_daylight_hour['일시'], format='%Y-%m')
start_date = pd.to_datetime('2000-03-15')
end_date = pd.to_datetime('2000-09-10')
df_daylight_hour = df_daylight_hour[
    df_daylight_hour['일시'].apply( lambda x: start_date.replace(year=x.year) <= x <= end_date.replace(year=x.year) )
]

# 연도, 시도별 일조시간 합계 평균 계산
df_daylight_hour['연도'] = df_daylight_hour['일시'].dt.year
df_daylight_hour_grouped = df_daylight_hour.groupby(['연도', '시도명'])['합계 일조시간(hr)'].sum().reset_index()
df_daylight_hour_grouped['관측소 수'] = df_daylight_hour.groupby(['연도', '시도명'])['지점명'].nunique().values
df_daylight_hour_grouped['평균 일조시간(시간)'] = df_daylight_hour_grouped['합계 일조시간(hr)'] / df_daylight_hour_grouped['관측소 수']
df_daylight_hour_grouped['평균 일조시간(시간)'] = df_daylight_hour_grouped['평균 일조시간(시간)'].round(0).astype(int)
df_daylight_hour_grouped

       연도    시도명  합계 일조시간(hr)  관측소 수  평균 일조시간(시간)
0    2015    강원도      16790.1     13         1292
1    2015    경기도       6694.0      5         1339
2    2015   경상남도      15517.2     14         1108
3    2015   경상북도      18112.6     15         1208
4    2015  광주광역시       1168.3      1         1168
..    ...    ...          ...    ...          ...
161  2024   전라남도      16066.5     13         1236
162  2024   전라북도      12038.7     10         1204
163  2024    제주도       4548.5      4         1137
164  2024   충청남도       7723.8      6         1287
165  2024   충청북도       6140.8      5         1228

[166 rows x 5 columns]

In [30]:
df_daylight_hour_grouped = df_daylight_hour_grouped[df_daylight_hour_grouped['연도'] >= 2015].reset_index(drop=True)
df_daylight_hour_grouped

       연도    시도명  합계 일조시간(hr)  관측소 수  평균 일조시간(시간)
0    2015    강원도      16790.1     13         1292
1    2015    경기도       6694.0      5         1339
2    2015   경상남도      15517.2     14         1108
3    2015   경상북도      18112.6     15         1208
4    2015  광주광역시       1168.3      1         1168
..    ...    ...          ...    ...          ...
161  2024   전라남도      16066.5     13         1236
162  2024   전라북도      12038.7     10         1204
163  2024    제주도       4548.5      4         1137
164  2024   충청남도       7723.8      6         1287
165  2024   충청북도       6140.8      5         1228

[166 rows x 5 columns]

In [32]:
sejong_to_add = []
years_to_substitute = [2015, 2016, 2017, 2018]

# 2015년부터 2018년까지 루프를 돌며 세종 데이터 처리
for year in years_to_substitute:
    # 1. 현재 데이터프레임에 해당 연도의 세종 데이터가 있는지 확인
    is_sejong_exists = '세종특별자치시' in df_daylight_hour_grouped[df_daylight_hour_grouped['연도'] == year]['시도명'].values
    
    # 2. 데이터 대체/추가 조건을 설정합니다.
    #    (2015~2017년은 데이터가 누락되어 있으므로 추가, 2018년은 대전 값으로 통일하기 위해 처리)
    if not is_sejong_exists or year == 2018:
        # 해당 연도의 대전 데이터 찾기
        daejeon_data = df_daylight_hour_grouped[
            (df_daylight_hour_grouped['연도'] == year) & 
            (df_daylight_hour_grouped['시도명'] == '대전광역시')
        ]
        
        if not daejeon_data.empty:
            # 대전 데이터로 세종 데이터 생성
            sejong_row = {
                '연도': year,
                '시도명': '세종특별자치시',
                # 대전의 합계 일조시간(hr) 값 사용
                '합계 일조시간(hr)': daejeon_data['합계 일조시간(hr)'].values[0],
                '관측소 수': 1, # 대체이므로 1로 고정
                # 대전의 평균 일조시간(시간) 값 사용
                '평균 일조시간(시간)': daejeon_data['평균 일조시간(시간)'].values[0]
            }
            sejong_to_add.append(sejong_row)

# 3. 기존 데이터프레임에서 2018년 세종 데이터 제거 (중복 방지 및 대전 값으로 통일)
# 2018년 세종 데이터가 원본에 있다면, 새로 추가할 대전 값으로 대체하기 위해 제거합니다.
df_daylight_hour_grouped = df_daylight_hour_grouped[
    ~((df_daylight_hour_grouped['연도'] == 2018) & (df_daylight_hour_grouped['시도명'] == '세종특별자치시'))
].reset_index(drop=True)

# 4. 새로운 세종 데이터를 기존 데이터에 추가
if sejong_to_add:
    df_daylight_hour_grouped = pd.concat([df_daylight_hour_grouped, pd.DataFrame(sejong_to_add)], ignore_index=True)


# 5. 최종 정렬 및 인덱스 초기화
df_daylight_hour_grouped.sort_values(by=['연도', '시도명'], inplace=True)
df_daylight_hour_grouped.reset_index(drop=True, inplace=True)

# 확인 출력 (선택 사항)
print(df_daylight_hour_grouped[df_daylight_hour_grouped['시도명'] == '세종특별자치시'])
print("\n✅ 2015년~2018년 세종특별자치시 데이터 대체가 완료되었습니다.")

       연도      시도명  합계 일조시간(hr)  관측소 수  평균 일조시간(시간)
9    2015  세종특별자치시       1355.6      1         1356
26   2016  세종특별자치시       1336.7      1         1337
43   2017  세종특별자치시       1411.9      1         1412
60   2018  세종특별자치시       1364.7      1         1365
77   2019  세종특별자치시        728.8      1          729
94   2020  세종특별자치시       1112.4      1         1112
111  2021  세종특별자치시       1147.9      1         1148
128  2022  세종특별자치시       1214.9      1         1215
145  2023  세종특별자치시       1072.6      1         1073
162  2024  세종특별자치시       1241.7      1         1242

✅ 2015년~2018년 세종특별자치시 데이터 대체가 완료되었습니다.

In [34]:
df_daylight_hour_grouped.to_csv("생육기_합계일조시간.csv", index=False, encoding="utf-8")